body {
  height: 100%;
}

.SearchResult {
  position: absolute;
  width: 1120px;
  height: 100%;
  background-color: #1f1f1f;
  left: 240px;
  top: 0px;
}

.topbar {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
}
